<<<<<<< HEAD
=======
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Noticia+Text:ital,wght@1,700&family=Oswald:wght@200&display=swap');

font-family: 'Lato', sans-serif;
font-family: 'Noticia Text', serif;
font-family: 'Oswald', sans-serif;

&font1: 'Lato', sans-serif
&font2:'Noticia Text', serif
&font3:'Oswald', sans-serif




>>>>>>> 2ad16f9c51693db9eb764f9ccff16cee341e5e4d
*{
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
    position: relative;
    padding-bottom: 300px;
    min-height: 100vh;
}

.carousel{
    z-index: -2;
}

header{
    background-color: #659ed0;
}
.navbar{
    height: 80px;
}

.nav-item{
    padding: 0px 20px;
    .nav-link{
        color: rgb(255, 250, 250);
        text-decoration: none;
        justify-content: center;
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        font-size: large;
        background-color: #659ed0;

        &:hover{
            background: rgba(0, 0, 0, 0.896);
            transform: scale(1.5);
            transition: 0.5s;
            border-radius: 50px;
        }
    }
}
.row{
    justify-content: space-between;
}
.card-text{
    color: rgb(24, 24, 24);
<<<<<<< HEAD
    text-shadow: 2px 2px 7px rgb(78, 77, 77);
    font-size: 20px;
}

.tit1{
=======
    text-shadow: 2px 2px 7px rgb(53, 52, 52);
    font-size: 20px;
}
.index{
>>>>>>> 2ad16f9c51693db9eb764f9ccff16cee341e5e4d
    border-style:ridge;border-radius: 15px;
    color: white;
    width: 200px;
    border-color: rgb(115, 165, 193);
    background-color: rgba(121, 179, 203, 0.836);
    border-width: 8px;
    padding: 10px 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 35px;
}
<<<<<<< HEAD

.tit2{
    @extend .tit1
}

<<<<<<< HEAD
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
.texto{
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    font-size:large;
}
.almacen{
    width: 70%;
    display: block;
    margin-left: 17px;
    margin-right: 50px;
    padding-top: 40px;
    padding-bottom: 10px;

    padding-right: 50px;
    &:hover{
        transform:scale(1.1);
        transition: all 0.4s ease;
    }
}

=======
=======
>>>>>>> 2ad16f9c51693db9eb764f9ccff16cee341e5e4d
>>>>>>> d88ef9991b66a2a2f1a7aa06e8118215a49eff28
.pie-pagina{
    width: 100%;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(70, 135, 196);
    grid-gap: 100px;
    background-image: linear-gradient(to right, #8fbde0, #81b3db, #73a9d6, #659ed0, #5894cb, #6391cc, #6d8ecb, #788bca, #968ecb, #af92ca, #c496c7, #d69cc3);
    h5{
        font-family: 'Oswald', sans-serif;
        font-size: large;
        font-weight:900 ;
        margin-left: 10px;
    
    p{
        font-family: 'Oswald', sans-serif;
        font-weight:600;
        margin-bottom: 10px;
        display: flex;
        align-items: flex-end;
        margin-left: 10px;
    
        a{
        color: rgb(255, 0, 0);
        transition: all 300ms ease;
        margin-right: 10px;
            &:hover{
                color: beige;
                }
            }
        }
    }
}
.pie-pagina .box2 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    text-align: center;
    transition: all 300ms ease;
    font-size: 30px;
}
.pie-pagina .box2 .red-social a:hover{
    background-color: rgba(0,0,0,0.3);
    }

.pie-pagina .box3 a{
    color: black;
    transition: all 300ms ease;
    margin-right: 10px;
    }
.pie-pagina .box3 a:hover{
        color: beige;
    }

.pie-pagina  .box1 figure p a{
    color: black;
    transition: all 300ms ease;
    margin-right: 10px;
    }
    
.pie-pagina  .box1 figure p a:hover{
    color: beige;
    }